<h1>Condtitions:</h1>
<p><%= link_to 'New Condition', new_condition_path(project: @project) %></p>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Status</td>
      <td>Initial Condition</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @project.conditions.each do |condition| %>
      <td><%= link_to condition.name, condition_path(condition) %></td>
      <td><%= condition.status %></td>
      <td><%= condition.initial_condition %></td>
    <% end %>
    </tr>
  </tbody>
</table>