// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.project_home {
  text-align: center;
  padding-top: 50px;
}

.project_header {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.project_body {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.line {
  width: 50%;
  margin: auto;
}

.project_form {
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;

  div {
    text-align: left;
  }
}